<!-- Default -->
<div
    class="saas-work-process ptb-100"
    style="background-image: url(img/cta-bg.jpg);"
    [ngClass]="{'d-none': router.url === '/index-3' || router.url === '/index-4'}"
>
    <div class="container">
        <div class="section-title">
            <h2>Work Process</h2>
            <div class="bar"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-work-process">
                    <div class="icon">
                        <i class="icofont-calendar"></i>
                    </div>
                    <h3>Plan</h3>
                    <p>Morbi pharetra sapien ut mattis.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-work-process">
                    <div class="icon">
                        <i class="icofont-code-alt"></i>
                    </div>
                    <h3>Develop</h3>
                    <p>Morbi pharetra sapien ut mattis.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-work-process">
                    <div class="icon">
                        <i class="icofont-server"></i>
                    </div>
                    <h3>Lounch</h3>
                    <p>Morbi pharetra sapien ut mattis.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-work-process">
                    <div class="icon">
                        <i class="icofont-check"></i>
                    </div>
                    <h3>Reporting</h3>
                    <p>Morbi pharetra sapien ut mattis.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Only for Digital Marketing Demo -->
<div
    class="overview-section ptb-100"
    *ngIf="router.url === '/index-3'"
>
    <div class="container">
        <div class="overview-box">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-lg-6 col-md-6 overview-img">
                    <img src="img/marketing-1.png" alt="image">
                </div>
                <div class="col-lg-6 col-md-6 overview-content">
                    <div class="icon">
                        <i class="icofont-power"></i>
                    </div>
                    <h3>Social Media Marketing</h3>
                    <p>Plan ahead by day, week, or month, and see project status at a glance. Search and filter to focus in on anything form a single project to an individual person's workload.</p>
                    <ul>
                        <li>Unimited Video Call</li>
                        <li>Add Favourite contact</li>
                        <li>Camera Filter</li>
                    </ul>
                    <a routerLink="." class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="overview-box">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-lg-6 col-md-6 overview-content">
                    <div class="icon">
                        <i class="icofont-share-alt"></i>
                    </div>
                    <h3>Email Marketing</h3>
                    <p>Plan ahead by day, week, or month, and see project status at a glance. Search and filter to focus in on anything form a single project to an individual person's workload.</p>
                    <ul>
                        <li>Unimited Video Call</li>
                        <li>Add Favourite contact</li>
                        <li>Camera Filter</li>
                    </ul>
                    <a routerLink="." class="btn btn-primary">Read More</a>
                </div>
                <div class="col-lg-6 col-md-6 overview-img">
                    <img src="img/marketing-2.png" alt="image">
                </div>
            </div>
        </div>
        <div class="overview-box">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-lg-6 col-md-6 overview-img">
                    <img src="img/marketing.png" alt="image">
                </div>
                <div class="col-lg-6 col-md-6 overview-content">
                    <div class="icon">
                        <i class="icofont-ui-messaging"></i>
                    </div>
                    <h3>Paid Advertising</h3>
                    <p>Plan ahead by day, week, or month, and see project status at a glance. Search and filter to focus in on anything form a single project to an individual person's workload.</p>
                    <ul>
                        <li>Unimited Video Call</li>
                        <li>Add Favourite contact</li>
                        <li>Camera Filter</li>
                    </ul>
                    <a routerLink="." class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="overview-box">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-lg-6 col-md-6 overview-content">
                    <div class="icon">
                        <i class="icofont-users-social"></i>
                    </div>
                    <h3>We provide proffesional staff</h3>
                    <p>Plan ahead by day, week, or month, and see project status at a glance. Search and filter to focus in on anything form a single project to an individual person's workload.</p>
                    <ul>
                        <li>Unimited Video Call</li>
                        <li>Add Favourite contact</li>
                        <li>Camera Filter</li>
                    </ul>
                    <a routerLink="." class="btn btn-primary">Read More</a>
                </div>
                <div class="col-lg-6 col-md-6 overview-img">
                    <img src="img/marketing-3.png" alt="image">
                </div>
            </div>
        </div>
    </div>
    <div class="shape7"><img src="img/shape7.png" alt="shape"></div>
    <div class="shape3"><img src="img/shape3.png" alt="img"></div>
    <div class="bg-gray shape-1"></div>
    <div class="shape6"><img src="img/shape6.png" alt="img"></div>
    <div class="shape8 rotateme"><img src="img/shape8.svg" alt="shape"></div>
    <div class="shape9"><img src="img/shape9.svg" alt="shape"></div>
    <div class="shape10"><img src="img/shape10.svg" alt="shape"></div>
    <div class="shape11 rotateme"><img src="img/shape11.svg" alt="shape"></div>
</div>

<!-- Only for Product Landing Demo -->
<div
    class="overview-section ptb-100"
    *ngIf="router.url === '/index-4'"
>
    <div class="container">
        <div class="overview-box">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-lg-6 col-md-6 overview-img">
                    <img src="img/overview-1.png" alt="image">
                </div>
                <div class="col-lg-6 col-md-6 overview-content">
                    <span>Fitness Tracking</span>
                    <h3>Get fit with a tracker that's more than a bit smarter</h3>
                    <p>Plan ahead by day, week, or month, and see project status at a glance. Search and filter to focus in on anything form a single project to an individual person's workload.</p>
                    <ul>
                        <li>User Friendly</li>
                        <li>High Security</li>
                        <li>Free Updates</li>
                    </ul>
                    <a routerLink="/about-us" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="overview-box modern-flexible">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single-item right-icon">
                        <div class="icon">
                            <i class="icofont-lamp-light"></i>
                        </div>
                        <h3>Stunning Showcases</h3>
                        <p>Nam fermentum, arcu nec porta aliquam, lacus lorem efficitur lectus, quis sagittis tellus erat quis.</p>
                    </div>
                    <div class="single-item right-icon">
                        <div class="icon">
                            <i class="icofont-responsive"></i>
                        </div>
                        <h3>Fully Customizable</h3>
                        <p>Nam fermentum, arcu nec porta aliquam, lacus lorem efficitur lectus, quis sagittis tellus erat quis.</p>
                    </div>
                    <div class="single-item right-icon">
                        <div class="icon">
                            <i class="icofont-ui-timer"></i>
                        </div>
                        <h3>Engaging Tours</h3>
                        <p>Nam fermentum, arcu nec porta aliquam, lacus lorem efficitur lectus, quis sagittis tellus erat quis.</p>
                    </div>
                </div>
                <div class="col-lg-4 overview-img">
                    <img src="img/feature-img-with-app.png" alt="image">
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-item">
                        <div class="icon">
                            <i class="icofont-ui-timer"></i>
                        </div>
                        <h3>Engaging Tours</h3>
                        <p>Nam fermentum, arcu nec porta aliquam, lacus lorem efficitur lectus, quis sagittis tellus erat quis.</p>
                    </div>
                    <div class="single-item">
                        <div class="icon">
                            <i class="icofont-star-alt-2"></i>
                        </div>
                        <h3>Exquisite Design</h3>
                        <p>Nam fermentum, arcu nec porta aliquam, lacus lorem efficitur lectus, quis sagittis tellus erat quis.</p>
                    </div>
                    <div class="single-item">
                        <div class="icon">
                            <i class="icofont-ui-timer"></i>
                        </div>
                        <h3>Engaging Tours</h3>
                        <p>Nam fermentum, arcu nec porta aliquam, lacus lorem efficitur lectus, quis sagittis tellus erat quis.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="overview-box">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-lg-6 col-md-6 overview-content">
                    <span>Instant Video Call and live chat</span>
                    <h3>Everything you nedd, one swipe away.</h3>
                    <p>Plan ahead by day, week, or month, and see project status at a glance. Search and filter to focus in on anything form a single project to an individual person's workload.</p>
                    <ul>
                        <li>Unimited Video Call</li>
                        <li>Add Favourite contact</li>
                        <li>Camera Filter</li>
                    </ul>
                    <a routerLink="/about-us" class="btn btn-primary">Read More</a>
                </div>
                <div class="col-lg-6 col-md-6 overview-img">
                    <img src="img/overview-4.png" alt="image">
                </div>
            </div>
        </div>
    </div>
    <div class="shape7"><img src="img/shape7.png" alt="shape"></div>
    <div class="shape3"><img src="img/shape3.png" alt="img"></div>
    <div class="bg-gray shape-1"></div>
    <div class="shape6"><img src="img/shape6.png" alt="img"></div>
    <div class="shape8 rotateme"><img src="img/shape8.svg" alt="shape"></div>
    <div class="shape9"><img src="img/shape9.svg" alt="shape"></div>
    <div class="shape10"><img src="img/shape10.svg" alt="shape"></div>
    <div class="shape11 rotateme"><img src="img/shape11.svg" alt="shape"></div>
</div>