<div
    class="subscribe-area ptb-100"
    style="background-image: url(img/map.png);"
>
    <div class="container">
        <div class="section-title">
            <h2>Connect With Our Community</h2>
            <div class="bar"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <form class="newsletter-form">
            <input type="email" class="form-control" placeholder="Enter your email address" name="email" required autocomplete="off">
            <button class="btn btn-primary" type="submit">Subscribe</button>
        </form>
    </div>
</div>