<div class="boxes-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-box">
                    <div class="icon">
                        <i class="icofont-comment"></i>
                    </div>
                    <h3>Business Strategy</h3>
                    <p>Morbilling pharetra sapiening ut mattis viverra. Curabitur magna.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-box">
                    <div class="icon">
                        <i class="icofont-like"></i>
                    </div>
                    <h3>Social Media</h3>
                    <p>Morbilling pharetra sapiening ut mattis viverra. Curabitur magna.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-box">
                    <div class="icon">
                        <i class="icofont-laptop"></i>
                    </div>
                    <h3>Experience Design</h3>
                    <p>Morbilling pharetra sapiening ut mattis viverra. Curabitur magna.</p>
                </div>
            </div>
        </div>
    </div>
</div>