<div class="main-banner payment-processing-home">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="hero-content">
                            <h1>Make your money go further with Kilian</h1>
                            <p>Our passion to work hard and deliver excellent results. It could solve the needs of your customers and develop innovation.</p>
                            <a routerLink="." class="btn btn-primary">Get Started</a>
                            <button
                                type="button"
                                (click)="openPopup()"
                                class="video-btn popup-youtube border-0 p-0 bg-transparent"
                            >
                                Watch Video <i class="icofont-play-alt-3"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="paymant-processing-image">
                            <img src="img/payment-process-shape/bg.png" class="animate__animated animate__fadeInDown" alt="bg">
                            <img src="img/payment-process-shape/card.png" class="animate__animated animate__fadeInUp" alt="card">
                            <img src="img/payment-process-shape/cursor.png" class="animate__animated animate__fadeInLeft" alt="cursor">
                            <img src="img/payment-process-shape/dollar1.png" class="animate__animated animate__zoomIn" alt="dollar1">
                            <img src="img/payment-process-shape/dollar2.png" class="animate__animated animate__bounceIn" alt="dollar2">
                            <img src="img/payment-process-shape/laptop.png" class="animate__animated animate__fadeInDown" alt="laptop">
                            <img src="img/payment-process-shape/main-bg.png" class="animate__animated animate__zoomIn" alt="main-bg">
                            <img src="img/payment-process-shape/number.png" class="animate__animated animate__fadeInLeft" alt="number">
                            <img src="img/payment-process-shape/paper.png" class="animate__animated animate__rollIn" alt="paper">
                            <img src="img/payment-process-shape/main-pic.png" class="animate__animated animate__fadeInUp" alt="main-pic">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="creative-shape"><img src="img/bg3.png" alt="bg"></div>
    <div class="bg-gray shape-1"></div>
    <div class="shape1"><img src="img/shape1.png" alt="img"></div>
    <div class="shape2"><img src="img/shape2.png" alt="img"></div>
    <div class="shape3"><img src="img/shape3.png" alt="img"></div>
    <div class="shape6"><img src="img/shape6.png" alt="img"></div>
    <div class="shape8 rotateme"><img src="img/shape8.svg" alt="shape"></div>
    <div class="shape9"><img src="img/shape9.svg" alt="shape"></div>
</div>

<!-- Video Popup -->
<div
    class="mfp-wrap mfp-close-btn-in mfp-auto-cursor mfp-fade mfp-ready"
    *ngIf="isOpen"
    tabindex="-1"
>
    <div class="mfp-container mfp-iframe-holder">
        <div class="mfp-content">
            <div class="mfp-iframe-scaler">
                <button
                    (click)="closePopup()"
                    title="Close (Esc)"
                    type="button"
                    class="mfp-close"
                >
                    ×
                </button>
                <iframe src="https://www.youtube.com/embed/u31qwQUeGuM" title="Placeholder video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="mfp-bg mfp-fade mfp-ready" *ngIf="isOpen"></div>