<div
    class="coming-soon"
    style="background-image: url(img/book-banner.jpg);"
>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="coming-soon-content">
                    <h1>
                        We are launching our new website
                    </h1>
                    <p>
                        Working hard for something we don't care about is called stress. Working hard for smething we love is called passion.
                    </p>
                    <form>
                        <input type="text" class="form-control" placeholder="Type your email address" required>
                        <button type="submit">
                            Subscribe
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>