<div
    class="new-features-area ptb-100"
    style="background-image: url(img/cta-bg.jpg);"
>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="new-features-img">
                    <img src="img/feature-img-with-app.png" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="new-features-content">
                    <div class="section-title">
                        <h2>Know yourself, Know your health</h2>
                        <div class="bar"></div>
                    </div>
                    <div class="single-inner-features">
                        <i class="icofont-download"></i>
                        <h3>Download App</h3>
                        <p>Progressively expedite bleeding-edge catalysts for change via resource sucking channels. Energistically expedite.</p>
                    </div>
                    <div class="single-inner-features">
                        <i class="icofont-bluetooth"></i>
                        <h3>Bluetooth Data Sync</h3>
                        <p>Progressively expedite bleeding-edge catalysts for change via resource sucking channels. Energistically expedite.</p>
                    </div>
                    <div class="single-inner-features">
                        <i class="icofont-ui-weather"></i>
                        <h3>Weather Update</h3>
                        <p>Progressively expedite bleeding-edge catalysts for change via resource sucking channels. Energistically expedite.</p>
                    </div>
                    <div class="single-inner-features">
                        <i class="icofont-blood-drop"></i>
                        <h3>Blood Pressure Management</h3>
                        <p>Progressively expedite bleeding-edge catalysts for change via resource sucking channels. Energistically expedite.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>