<div class="app-download ptb-100 bg-gray">
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="section-title">
                    <h2>Download Our Apps Today</h2>
                    <div class="bar"></div>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account the system and expound the actual teachings of the great explore.</p>
                    <div class="download-btn">
                        <a href="#" target="_blank">
                            <i class="icofont-brand-android-robot"></i>
                            Available On <span>Google Store</span>
                        </a>
                        <a href="#" target="_blank">
                            <i class="icofont-brand-apple"></i>
                            Available On <span>Apple Store</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="download-image">
                    <img src="img/app-img1.png" alt="image">
                    <img src="img/app-img2.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>