.screenshot-contain {
    position: relative;
    margin-top: 82px;

    .mobile-light {
        text-align: center;
        position: absolute;
        margin: 0 auto;
        height: auto;
        width: auto;
        top: -82px;
        z-index: 2;
        right: 0;
        left: 0;
    }
    .screenshot-item {
        img {
            transform-style: unset !important;
            width: unset !important;
        }
    }
}
::ng-deep {
    .screenshot-slides {
        .owl-theme {
            .owl-nav {
                margin-top: 135px;
                line-height: .1;
    
                [class*=owl-] {
                    color: var(--secondaryColor);
                    background: transparent;
                    display: inline-block;
                    border-radius: 0;
                    transition: .4s;
                    font-size: 30px;
                    cursor: pointer;
                    margin: 0 3px;
                    padding: 0;
    
                    &:hover {
                        color: var(--primaryColor);
                    }
                }
            }
        }
    }
    .page-from-book {
        .owl-theme {
            .owl-nav {
                margin-top: 50px;
            }
        }
    }
}
.page-from-book {
    .screenshot-item {
        position: relative;
        text-align: center;

        a {
            display: block;
        }
        &::before {
            top: 0;
            left: 0;
            opacity: 0;
            content: '';
            width: 100%;
            height: 100%;
            transition: .4s;
            visibility: hidden;
            position: absolute;
            transform: scale(.8);
            background: var(--blackColor);
        }
        .popup-btn {
            left: 0;
            top: 50%;
            right: 0;
            opacity: 0;
            margin: 0 auto;
            font-size: 30px;
            transition: .4s;
            margin-top: -20px;
            visibility: hidden;
            position: absolute;
            transform: scale(0);
            display: inline-block;
            color: var(--whiteColor);

            &:hover {
                color: var(--primaryColor);
            }
        }
        img {
            transform-style: unset !important;
            width: unset !important;
        }
        &:hover {
            &::before {
                opacity: .8;
                visibility: visible;
                transform: scale(1);
            }
            .popup-btn {
                opacity: 1;
                visibility: visible;
                transform: scale(1);
            }
        }
    }
}

@media only screen and (max-width: 767px) {

    .screenshot-contain {
        margin-top: 0;

        .mobile-light {
            display: none;
        }
        .owl-item {
            &.active {
                &.center {
                    img {
                        border-radius: 0;
                    }
                }
            }
        }
    }
    ::ng-deep {
        .screenshot-slides {
            .owl-theme {
                .owl-nav {
                    line-height: .01;
                    margin: {
                        top: 30px;
                        bottom: -8px;
                    };
                }
            }
        }
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .screenshot-contain {
        margin-top: 0;

        .mobile-light {
            display: none;
        }
    }
    ::ng-deep {
        .screenshot-slides {
            .owl-theme {
                .owl-nav {
                    line-height: .01;
                    margin: {
                        top: 30px;
                        bottom: -8px;
                    };
                }
            }
        }
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .screenshot-contain {
        margin-top: 0;

        .mobile-light {
            display: none;
        }
    }
    ::ng-deep {
        .screenshot-slides {
            .owl-theme {
                .owl-nav {
                    margin-top: 30px;
                }
            }
        }
    }

}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .screenshot-contain {
        .mobile-light {
            max-width: 385px;
        }
    }

}

@media only screen and (min-width: 1910px) {}

@media only screen and (max-width: 767px) {}