<div class="product-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Our Latest Products</h2>
            <div class="bar"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="product-slides">
            <owl-carousel-o [options]="productsSlides">
                <ng-template carouselSlide>
                    <div class="single-product">
                        <div class="product-img">
                            <img src="img/shop-item1.jpg" alt="item">
                            <a routerLink="." class="add-to-cart-btn">Add to Cart <i class="icofont-shopping-cart"></i></a>
                        </div>
                        <div class="product-content">
                            <h3><a routerLink=".">Drop Side Watch</a></h3>
                            <div class="row h-100 justify-content-center align-items-center">
                                <div class="col-lg-5 col-6">
                                    <h5>$8.50 <span>$12.00</span></h5>
                                </div>
                                <div class="col-lg-7 col-6">
                                    <ul>
                                        <li><i class="icofont-star"></i></li>
                                        <li><i class="icofont-star"></i></li>
                                        <li><i class="icofont-star"></i></li>
                                        <li><i class="icofont-star"></i></li>
                                        <li><i class="icofont-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-product">
                        <div class="product-img">
                            <img src="img/shop-item2.jpg" alt="item">
                            <a routerLink="." class="add-to-cart-btn">Add to Cart <i class="icofont-shopping-cart"></i></a>
                        </div>
                        <div class="product-content">
                            <h3><a routerLink=".">Drop Side Watch</a></h3>
                            <div class="row h-100 justify-content-center align-items-center">
                                <div class="col-lg-5 col-6">
                                    <h5>$8.50 <span>$12.00</span></h5>
                                </div>
                                <div class="col-lg-7 col-6">
                                    <ul>
                                        <li><i class="icofont-star"></i></li>
                                        <li><i class="icofont-star"></i></li>
                                        <li><i class="icofont-star"></i></li>
                                        <li><i class="icofont-star"></i></li>
                                        <li><i class="icofont-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-product">
                        <div class="product-img">
                            <img src="img/shop-item3.jpg" alt="item">
                            <a routerLink="." class="add-to-cart-btn">Add to Cart <i class="icofont-shopping-cart"></i></a>
                        </div>
                        <div class="product-content">
                            <h3><a routerLink=".">Drop Side Watch</a></h3>
                            <div class="row h-100 justify-content-center align-items-center">
                                <div class="col-lg-5 col-6">
                                    <h5>$8.50 <span>$12.00</span></h5>
                                </div>
                                <div class="col-lg-7 col-6">
                                    <ul>
                                        <li><i class="icofont-star"></i></li>
                                        <li><i class="icofont-star"></i></li>
                                        <li><i class="icofont-star"></i></li>
                                        <li><i class="icofont-star"></i></li>
                                        <li><i class="icofont-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-product">
                        <div class="product-img">
                            <img src="img/shop-item4.jpg" alt="item">
                            <a routerLink="." class="add-to-cart-btn">Add to Cart <i class="icofont-shopping-cart"></i></a>
                        </div>
                        <div class="product-content">
                            <h3><a routerLink=".">Drop Side Watch</a></h3>
                            <div class="row h-100 justify-content-center align-items-center">
                                <div class="col-lg-5 col-6">
                                    <h5>$8.50 <span>$12.00</span></h5>
                                </div>
                                <div class="col-lg-7 col-6">
                                    <ul>
                                        <li><i class="icofont-star"></i></li>
                                        <li><i class="icofont-star"></i></li>
                                        <li><i class="icofont-star"></i></li>
                                        <li><i class="icofont-star"></i></li>
                                        <li><i class="icofont-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-product">
                        <div class="product-img">
                            <img src="img/shop-item5.jpg" alt="item">
                            <a routerLink="." class="add-to-cart-btn">Add to Cart <i class="icofont-shopping-cart"></i></a>
                        </div>
                        <div class="product-content">
                            <h3><a routerLink=".">Drop Side Watch</a></h3>
                            <div class="row h-100 justify-content-center align-items-center">
                                <div class="col-lg-5 col-6">
                                    <h5>$8.50 <span>$12.00</span></h5>
                                </div>
                                <div class="col-lg-7 col-6">
                                    <ul>
                                        <li><i class="icofont-star"></i></li>
                                        <li><i class="icofont-star"></i></li>
                                        <li><i class="icofont-star"></i></li>
                                        <li><i class="icofont-star"></i></li>
                                        <li><i class="icofont-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-product">
                        <div class="product-img">
                            <img src="img/shop-item6.jpg" alt="item">
                            <a routerLink="." class="add-to-cart-btn">Add to Cart <i class="icofont-shopping-cart"></i></a>
                        </div>
                        <div class="product-content">
                            <h3><a routerLink=".">Drop Side Watch</a></h3>
                            <div class="row h-100 justify-content-center align-items-center">
                                <div class="col-lg-5 col-6">
                                    <h5>$8.50 <span>$12.00</span></h5>
                                </div>
                                <div class="col-lg-7 col-6">
                                    <ul>
                                        <li><i class="icofont-star"></i></li>
                                        <li><i class="icofont-star"></i></li>
                                        <li><i class="icofont-star"></i></li>
                                        <li><i class="icofont-star"></i></li>
                                        <li><i class="icofont-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>