<div class="platform-connect ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2>Interact With Your Users On Every Single Platform</h2>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#" class="box" target="_blank">
                    <img src="img/mailchimp.png" alt="mailchimp">
                    <h3>Mail Chimp</h3>
                    <span>Send Mail</span>
                    <i class="icofont-bubble-right"></i>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#" class="box" target="_blank">
                    <img src="img/slack.png" alt="mailchimp">
                    <h3>Slack</h3>
                    <span>Messaging</span>
                    <i class="icofont-bubble-right"></i>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#" class="box" target="_blank">
                    <img src="img/twitter.png" alt="mailchimp">
                    <h3>Twitter</h3>
                    <span>Twitter Feed</span>
                    <i class="icofont-bubble-right"></i>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#" class="box" target="_blank">
                    <img src="img/instagram.png" alt="mailchimp">
                    <h3>Instagram</h3>
                    <span>News Feed</span>
                    <i class="icofont-bubble-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>