.cta-area {
    z-index: 1;
    padding: 60px 0;
    position: relative;
    background: {
        position: center center;
        attachment: fixed;
        repeat: no-repeat;
        size: cover;
    };
    &::before {
        top: 0;
        right: 0;
        width: 100%;
        content: '';
        z-index: -1;
        opacity: .87;
        height: 100%;
        position: absolute;
        background: var(--primaryColor);
    }
    p {
        color: var(--whiteColor);
        font: {
            size: 25px;
            weight: 700;
        };
    }
    .btn {
        &:hover {
            &::after, &::before {
                background: var(--whiteColor);
            }
        }
    }
    .btn-primary {
        &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
            color: var(--secondaryColor);
            background: var(--whiteColor);
        }
        &:hover, &:focus {
            background: var(--whiteColor);
            color: var(--secondaryColor);
        }
    }
}

@media only screen and (max-width: 767px) {

    .cta-area {
        text-align: center;
        padding: 30px 0;

        .text-end {
            text-align: center !important;
            margin-top: 25px;
        }
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

@media only screen and (min-width: 1200px) and (max-width: 1350px) {}

@media only screen and (min-width: 1910px) {}

@media only screen and (max-width: 767px) {}