<footer
    class="footer-area ptb-100 pb-0 bg-image"
    style="background-image: url(img/footer-shape.png);"
>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <a routerLink="/" class="logo">
                        <img src="img/logo2.png" alt="logo2">
                    </a>
                    <p>Plan ahead by day, week, or month, and see project status at a glance. Search and filter to focus in on anything form a single project individual.</p>
                    <ul class="social-list">
                        <li><a href="#" target="_blank"><i class="icofont-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="icofont-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="icofont-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget pl-5">
                    <h3>Company</h3>
                    <ul class="list">
                        <li><a routerLink="/about-us">About</a></li>
                        <li><a routerLink="/about-us">Careers</a></li>
                        <li><a routerLink="/about-us">Awards</a></li>
                        <li><a routerLink="/blog">User Program</a></li>
                        <li><a routerLink="/contact-us">Locations</a></li>
                        <li><a routerLink="/login">Login</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Products</h3>
                    <ul class="list">
                        <li><a routerLink="/features">Integrations</a></li>
                        <li><a routerLink="/contact-us">API</a></li>
                        <li><a routerLink="/contact-us">Pricing</a></li>
                        <li><a routerLink="/contact-us">Documentation</a></li>
                        <li><a routerLink="/register">Register</a></li>
                        <li><a routerLink="/contact-us">Release Notes</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Support</h3>
                    <ul class="list">
                        <li><a routerLink="/about-us">About</a></li>
                        <li><a routerLink="/contact-us">Contact</a></li>
                        <li><a routerLink="/faq">FAQ</a></li>
                        <li><a routerLink="/blog">Press</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-lg-6 col-md-6">
                    <p>© Kilian is Proudly Owned by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li><a routerLink="/contact-us">Terms & Conditions</a></li>
                        <li><a routerLink="/contact-us">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>