.how-app-work {
    position: relative;
    z-index: 1;
    background: {
        position: center center;
        attachment: fixed;
        repeat: no-repeat;
        size: cover;
    }
    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: var(--primaryColor);
        opacity: .87;
    }
    .section-title {
        h2, p {
            color: var(--whiteColor);
        }
        .bar {
            background: var(--whiteColor);

            &::before {
                background: var(--primaryColor);
            }
        }
    }
    .app-mobile {
        text-align: center;
        margin-bottom: 60px;
        animation: movebounce 5s linear infinite;
    }
}
.single-app-works {
    text-align: center;
    transition: .4s;

    .icon {
        display: inline-block;
        width: 80px;
        height: 80px;
        line-height: 80px;
        background: #edf5ff;
        border-radius: 50%;
        text-align: center;
        font-size: 30px;
        color: var(--primaryColor);
        transition: .4s;
    }
    h3 {
        color: var(--whiteColor);
        margin: {
            bottom: 15px;
            top: 25px;
        }
        font: {
            size: 23px;
            weight: 700;
        }
    }
    p {
        color: var(--whiteColor);
    }
    &:hover {
        transform: translateY(-7px);

        .icon {
            background: var(--secondaryColor);
            color: var(--whiteColor);
        }
    }
}
.saas-work-process {
    position: relative;
    z-index: 1;
    background: {
        position: center center;
        attachment: fixed;
        repeat: no-repeat;
        size: cover;
    }
    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: var(--primaryColor);
        opacity: .87;
    }
    .section-title {
        h2, p {
            color: var(--whiteColor);
        }
        .bar {
            background: var(--whiteColor);

            &::before {
                background: var(--primaryColor);
            }
        }
    }
}
.single-work-process {
    position: relative;
    padding: 30px;
    background: var(--whiteColor);
    border-radius: 3px;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    transition: .4s;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        background: var(--whiteColor);
        width: 96%;
        opacity: .62;
        height: 50%;
        bottom: -6px;
        right: 0;
        left: 0;
        margin: auto;
        border-radius: 3px;
        transition: .4s;
    }
    .icon {
        display: inline-block;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        background: #edf5ff;
        border-radius: 50%;
        font-size: 25px;
        color: var(--primaryColor);
        transition: .4s;
    }
    h3 {
        margin: 25px 0 15px;
        font: {
            size: 23px;
            weight: 700;
        }
    }
    &:hover {
        box-shadow: 0 10px 55px 5px rgba(137,173,255,.35);
        transform: translate(0,-10px);
        background-color: var(--whiteColor);

        .icon {
            background: var(--primaryColor);
            color: var(--whiteColor);
        }
        &::before {
            bottom: -5px;
        }
    }
}

@media only screen and (max-width: 767px) {

    .how-app-work {
        padding-bottom: 40px;
    }
    .app-mobile {
        margin-bottom: 50px;
    }
    .single-app-works {
        margin-bottom: 30px;

        .icon {
            width: 70px;
            height: 70px;
            line-height: 70px;
            font-size: 25px;
        }
        h3 {
            font-size: 20px;
        }
    }
    .saas-work-process {
        padding-bottom: 20px;
    }
    .single-work-process {
        margin-bottom: 30px;
        padding: 20px;

        h3 {
            font-size: 20px;
        }
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .how-app-work {
        padding-bottom: 50px;
    }
    .single-app-works {
        margin-bottom: 30px;

        h3 {
            font-size: 21px;
        }
    }
    .saas-work-process {
        padding-bottom: 50px;
    }
    .single-work-process {
        margin-bottom: 30px;

        h3 {
            font-size: 21px;
        }
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

@media only screen and (min-width: 1200px) and (max-width: 1350px) {}

@media only screen and (min-width: 1910px) {}

@media only screen and (max-width: 767px) {}